{% extends 'mails/home.html' %}
{% block content %}
    <h4>Отчет по попыткам рассылки</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Дата и время отправки</th>
                <th>Статус</th>
                <th>Email</th>
                <th>Тема рассылки</th>
                <th>Ответ сервера</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.event_datetime }}</td>
                    <td>{{ event.get_event_status_display }}</td>
                    <td>{{ event.email.email }}</td>
                    <td>{{ event.topic }}</td>
                    <td>{{ event.server_response }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


