{% extends 'mails/home.html' %}
{% block content %}

<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    {% if object %}
                    Редактировать
                    {% else %}
                    Создать
                    {% endif %}
                </h5>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-outline-primary">
                    {% if object %}
                    Сохранить
                    {% else %}
                    Создать
                    {% endif %}
                </button>
            </div>
            <div class="card-footer">
                <a href="{% url 'mails:maill_list' %}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
