{% extends 'mails/home.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <p class="card-text">Email: {{ object.email }}</p>
                        <p class="card-text">Имя: {{ object.first_name }}</p>
                        <p class="card-text">Отчество: {{ object.middle_name }}</p>
                        <p class="card-text">Фамилия: {{ object.last_name }}</p>
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="d-grid gap-2 d-md-block">

                                <div class="btn-group">
                                    <a class="btn btn-primary" href="
                                    {% url 'mails:recipient_view' recipient.pk %}" role="button">Смотреть</a>
                                    <a class="btn btn-secondary" href="
                                    {% url 'mails:recipient_list' %}" role="button">Назад</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
