{% extends 'mails/home.html' %}
{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <p class="card-text">Удалить эту рассылку? {{ object.topic }}</p>
                        <div class="card-body">
                            {% csrf_token %}
                        </div>
                        <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
                        <a class="btn btn-outline-primary" href="{% url 'mails:sending_list' %}" role="button">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
